{% extends 'admin/base.html.twig' %}

{% block adm_body %}
    <main role="main" class="container">
        <h1 class="mt-5">
            Новости
            <a class="btn btn-success btn-lg" style="border-radius: 50%" href="{{ path('adm_news_add') }}"><i style="font-weight: 700">&plus;</i></a>
        </h1>
        <hr>
        {% for item in list %}
            <div style="margin-bottom: 25px">
                <h4>
                    <a style="color: rgb(33, 37, 41);"
                       href="{{ path('news_view', {id: item.id}) }}">{{ item.title }}</a>

                    <div class="float-right small">
                        <a href="{{ path('adm_news_edit', {id: item.id}) }}">Редактировать</a>
                        <a href="{{ path('news_view', {id: item.id}) }}">Удалить</a>
                    </div>
                </h4>
                <p>{{ item.description }}</p>
            </div>
        {% else %}
            Вы не опубликовали ни одной новости
        {% endfor %}

    </main>
{% endblock %}