{% extends 'base.html.twig' %}

{% block title %}Hello NewsController!{% endblock %}

{% block body %}

    <main role="main" class="container">
        <h1 class="mt-5">Новости sonata</h1>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                {% for item in paginator.results %}
                    <div style="margin-bottom: 25px">
                        <h4><a style="color: rgb(33, 37, 41);"
                               href="{{ path('news_view', {id: item.id}) }}">{{ item.title }}</a></h4>

                        <div class="text-muted small">
                            <a class="text-muted" style="text-decoration: none" href="{{ path('author', {id: item.author.id}) }}"> Автор: {{ item.author.fName }} {{ item.author.LName }}</a>
                            от: {{ item.publishedAt|date("d.m.Y H:i") }}</div>
                        <p>{{ item.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>

{% endblock %}
