{% extends 'base.html.twig' %}

{% block title %}Hello NewsController!{% endblock %}

{% block body %}

    <main role="main" class="container">

        <h1 class="mt-5">
            {{ news.title }}
        </h1>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <br >
            {{ render(controller('App\\Controller\\LikesController::likesForm', {'id': news.id})) }}
        {% endif %}
        <hr>
        <div class="row">
            <div class="col-lg-12">
                {{ news.text }}
            </div>

            <div style="margin-top: 50px" class="col-lg-12">
                <h4>Комментарии:</h4>

                <div id="post-add-comment" class="well">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {{ render(controller('App\\Controller\\NewsController::commentForm', {'id': news.id})) }}
                    {% else %}
                        <p>
                            <a class="btn btn-success" href="{{ path('security_login', {'redirect_to': app.request.pathInfo}) }}">
                                <i class="fa fa-sign-in" aria-hidden="true"></i> Войти
                            </a>
                            Авторизуйтесь что бы оставить комментарий
                        </p>
                    {% endif %}
                </div>

                {% for comment in news.comments %}
                    <div style="margin-top: 40px" class="row post-comment">
                        <a name="comment_{{ comment.id }}"></a>
                        <p class="col-sm-2">
                            <strong>{{ comment.author.lName }} {{ comment.author.fName }}</strong><br>
                            <span class="text-muted">{{ comment.createdAt|date("d.m.Y H:i") }}</span>
                        </p>
                        <div class="col-sm-10">
                            {{ comment.text }}
                        </div>
                    </div>
                {% else %}
                    <div class="post-comment">
                        <p>Комментариев пока нет</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>

{% endblock %}
