{% if paginator.hasToPaginate %}
    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
    <ul class="pagination justify-content-center">
        {% if paginator.hasPreviousPage %}
            <li class="page-item">
                <a class="page-link"
                   href="{{ currentPath }}?page={{ paginator.previousPage }}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link"
                   href="#"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% for i in 1..paginator.lastPage %}
            {% if i == paginator.currentPage %}
                <li class="page-item active"><a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link"
                                         href="{{ currentPath }}?page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if paginator.hasNextPage %}
            <li class="page-item">
                <a class="page-link" href="{{ currentPath }}?page={{ paginator.nextPage }}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}